.custom-date-picker-input {
	border: 1px solid var(--medium-gray) !important;
	border-radius: 1rem !important;
	padding: 1rem !important;
}

// /* Base styles for the DatePicker */
// .react-datepicker {
// 	font-family: 'Arial, sans-serif';
// 	font-size: 16px;
// 	background-color: #fff;
// 	border: 1px solid var(--medium-gray);
// 	padding: 10px;
// }

// .react-datepicker__header {
// 	background-color: #f7f7f7;
// 	border-bottom: 1px solid #d3d3d3;
// 	border-top-left-radius: 8px;
// 	border-top-right-radius: 8px;
// 	padding: 10px 0;
// }

// .react-datepicker__current-month {
// 	font-weight: bold;
// 	color: #333;
// }

// .react-datepicker__navigation {
// 	top: 16px;
// 	line-height: 1.7rem;
// }

// .react-datepicker__navigation--previous {
// 	border-right-color: #333;
// }

// .react-datepicker__navigation--next {
// 	border-left-color: #333;
// }

// .react-datepicker__month-container {
// 	padding: 10px;
// }

// .react-datepicker__day-names,
// .react-datepicker__week {
// 	display: flex;
// 	justify-content: space-between;
// 	padding: 0 10px;
// }

// .react-datepicker__day-name,
// .react-datepicker__day {
// 	width: 2.5rem;
// 	line-height: 2.5rem;
// 	text-align: center;
// 	margin: 2px;
// }

// .react-datepicker__day--selected,
// .react-datepicker__day--keyboard-selected {
// 	background-color: #007bff;
// 	color: #fff;
// 	border-radius: 50%;
// }

// .react-datepicker__day--today {
// 	background-color: #f0f8ff;
// 	border-radius: 50%;
// }

// .react-datepicker__day:hover {
// 	background-color: #e6e6e6;
// 	border-radius: 50%;
// }

// .react-datepicker__time-container {
// 	border-left: 1px solid #d3d3d3;
// }

// .react-datepicker__time {
// 	background-color: #fff;
// 	border-radius: 0 8px 8px 0;
// }

// .react-datepicker__time-box {
// 	width: 100%;
// }

// .react-datepicker__time-list-item {
// 	padding: 10px;
// 	width: 100%;
// 	text-align: center;
// 	cursor: pointer;
// }

// .react-datepicker__time-list-item--selected {
// 	background-color: #007bff;
// 	color: #fff;
// }

// .react-datepicker__time-list-item:hover {
// 	background-color: #e6e6e6;
// }

// /* Custom styles for the input field */
// .custom-date-picker-input {
// 	width: 100%;
// 	padding: 10px;
// 	border: 1px solid #d3d3d3;
// 	border-radius: 8px;
// 	font-size: 16px;
// 	outline: none;
// 	transition: border-color 0.3s ease;
// }

// .custom-date-picker-input:focus {
// 	border-color: #007bff;
// }
