.calendar {
	display: table;
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	border-radius: var(--border-radius);

	&__container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.header,
	.row {
		display: table-row;
		background: var(--white);
		width: 100%;
	}

	.header > div,
	.row > .cell,
	.row > .date {
		display: table-cell;
		padding: 1rem;
		text-align: center;
	}

	.header > div {
		font-weight: bold;
		background-color: #f4f4f4;
	}

	.row:hover {
		background-color: #f4f4f4;
	}

	.row > .date {
		font-weight: bold;
		vertical-align: middle;
	}

	.cell {
		font-size: 18px;
		vertical-align: middle;
	}

	.row {
		cursor: pointer;
		height: 50px;
	}

	.today {
		// outline-left: 4px solid var(--primary);
		background-color: var(
			--primary-light
		) !important; /* Highlight today's row */
	}
}

@media screen and (max-width: 768px) {
	.calendar__container {
		width: calc(100vw - 2rem);
		overflow: scroll;
	}
}
