.exercise-card {
	border: 1px solid var(--medium-gray);
	cursor: pointer;
	overflow: hidden;
	height: 60px;
	width: 200px;
	transition: all 0.2s ease;
	&.selected {
		border-color: var(--primary);
		background-color: var(--primary-light);
	}
	& img {
		width: 60px;
		height: 100%;
		object-fit: cover;
	}
	& h4 {
		margin: 0;
		font-size: 16px;
		height: 100%;
	}
	&:hover {
		background-color: var(--light-gray);
	}
}

.exercise-details p {
	margin: 5px 0 0;
	font-size: 14px;
	color: #666;
}
